* {
    margin: 0%;
    padding: 0%;
}

html {
    scroll-behavior: smooth;
}

.navbar {
    position: fixed;
    display: flex;
    margin-top: -6vh;
    width: 0;
    padding-bottom: 0vh;
    background: linear-gradient(90deg, slategrey, transparent);
    animation-name: navani;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 0.2s;
    animation-timing-function: ease-in-out;
}
.navbar2{
    position: fixed;
    display: flex;
    width: 0;
    padding-bottom: 0;
    background: linear-gradient(90deg, rgb(100, 124, 148), transparent);
    animation-name: navani;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 0.2s;
    animation-timing-function: ease-in-out;
}
.backarrow {
    font-size:6vh ;
    margin-left: 40rem;
}
.backarrow:hover{
    color: green;
}
.links ul {
    display: flex;
    list-style-type: none;
    margin-top: 1.5vh;
}

a {
    text-decoration: none;
    padding-top: 0vh;
    color: #828485;
    font-weight: 900;
    font-size: large;
    text-transform: capitalize;
    font-family: 'Times New Roman', Times, serif;
}

a:hover {
    padding-right: 0vh;
    color: #f1f1f5;
}

.portfolio {
    padding-left: 20vh;
    padding-right: 50vh;
    padding-top: 0vh;
}

.links ul li {
    padding-left: 14vh;
}

#background {
    background-color: rgb(36, 41, 46);
}

.portword {
    display: flex;
}

#port {
    color: #f5f7f8;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-shadow: 0vh 1vh 1vh rgb(22, 1, 1);
}

#folio {
    color: #c0c0c0;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 0vh 1vh 1vh rgb(15, 0, 0);
    margin-top: 0.35vh;
    font-size: 27pt;

}

.info {
    color: rgb(234, 236, 238);
    text-transform: capitalize;
    margin: auto;
    margin-inline: auto;
}

#greet {
    font-size: 6vh;
    color: #828485;
}

.photo img {
    margin-left: 3vh;
    margin-right: 17vh;
    margin-top: 8vh;
    border-radius: 3vh;
    height: 0;
    border: 0;
    animation-name: photani;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 0.2s;
    animation-timing-function: ease-in-out;
}

#about {
    margin-top: 7vh;
    margin-left: 7vh;
    width: 190vh;
    height: 60vh;
    display: flex;
    background-color: transparent;
    border-radius: 1vh;
    padding-bottom: 10vh;
    padding-top: 4.5vh;

}

.info {
    text-align: center;
}

.info p {
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-size: 12pt;
}

#hello {
    font-size: 20pt;
}

p {
    width: 60vh;
    color: white;
}

#aboutbox {
    padding-top: 4.5vh;
    padding-bottom: 7vh;
    margin-left: 2vh;
    border-radius: 1vh;
    background: linear-gradient(90deg, gray, transparent);
}
.vedant{
    display: flex;
}
.branch_n p{
    font-size: 50vh;
    font-family:sans-serif;
    margin-left: 10vh;
    color: #616060;
}
.branch_n h6{
    color: #afafaf;
    font-size: 5vh;
    margin-left: 11vh;
}
.vedant_name {
    font-size: 9vh;
    font-family: fantasy;
    padding: 0;
    border-left: 3vh solid rgb(36, 41, 46);
}

.vedant_name {
    display: flex;
}

#anived {
    color: #96d0f1;
}

.vedant_name hr {
    width: 130vh;
    height: 1vh;
    margin-top: 5vh;
    border: 1vh solid #96d0f1;
    animation: none;
}
.b_e_student {
    font-size: 3vh;
    color: rgb(231, 229, 229);
    margin-left: 5vh;
    font-family: 'Times New Roman', Times, serif;
    text-transform: capitalize;
    padding-top: 2vh;
}

.background_about_info {
    margin-top: 2vh;
    padding: 3vh;
    padding-left: 0;
    border-left: 3vh solid rgb(36, 41, 46);
    margin-right: 10vh;
}

.background_about_info hr {
    height: 1vh;
    width: 100vh;
    border: 1vh solid rgb(36, 41, 46);
}

h4 {
    font-size: 7vh;
    margin-left: 10vh;
    font-family: fantasy;
    color: rgb(36, 41, 46);
    padding-top: 3vh;
}

.background_about_info p {
    width: auto;
}

#report {
    padding-bottom: 4.5vh;
    padding-top: 4.5vh;
}

#report h3 {
    padding-top: 7vh;
    text-align: center;
    font-size: 8vh;
    font-family: fantasy;
    color: slategrey;
    text-decoration: none;
    animation-name: undani;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

#modules_selection {
    padding-top: 7vh;
}

#modules_selection a {
    display: contents;
}

#modules_selection img {
    width: 20vh;
    margin-left: 3vh;
    margin-top: 4vh;
    padding: 5vh;
    border-radius: 1vh;
    box-shadow: #96d0f1 0.5vh 0.5vh 0.5vh;
}

#modules_selection img:hover {
    width: 19.5vh;
    box-shadow: none;
}

#modules_selection img:hover {
    width: 19.5vh;
    padding-left: 5.5vh;
}

#contact {
    padding-top: 6vh;
    padding-bottom: 7vh;
    margin-right: 2vh;
    border-radius: 1vh;
    justify-content: end;
    background: linear-gradient(270deg, gray, transparent);
}

#contact p {
    font-size: 3vh;
    color: #f4f6f7;
    text-transform: capitalize;
    text-align: right;
}

#contact h1 {
    padding-top: 7vh;
    text-align: end;
    padding-right: 10vh;
    font-size: 8vh;
    font-family: fantasy;
    height: 15vh;
    color: rgb(36, 41, 46);
    border-right: 3vh solid rgb(36, 41, 46);
    text-decoration: none;
}

#the_end a {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: 12px;
    margin-left: 80%;
}

.moreinfo {
    display: flex;
}

.moreinfo a {
    font-family: fantasy;
    color: gold;
    font-size: 12vh;
    animation-name: undani;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

.moreinfo a:hover {
    color: slategray;
    font-size: 11.5vh;
    animation-name: undani;
    animation-play-state: paused;
}

.h1_module1 {
    color: #f5f8f8;
    text-align: center;
    text-transform: capitalize;
    padding: 3vh;
    padding-top: 10vh;
    text-shadow: #003459 1vh 1vh 1vh;
}

.content_module1_font {
    color: #f4f5f7;
    font-family: 'Times New Roman', Times, serif;
    font-size: 3vh;
    margin-left: 2vh;
    font-weight: 0;
}
iframe{
    height: 50vh;
    width: 100vh;
    margin-left: 25%;
}
.content_module1_imgs img {
    height: 100vh;
}

.content_module1_fontpara {
    margin-left: 2vh;
    width: fit-content;
}

.content_module2_1 p {
    margin-top: 2vh;
    color: #dbe0e0;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 2vh;
    width: fit-content;
}

.content_module2_1 h2 {
    margin-top: 10vh;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14pt;
    color: #dbe0e0;
    margin-left: 2vh;
    width: fit-content;
}

#h1_module2 {
    color: #f5f8f8;
    text-align: center;
    text-transform: capitalize;
    padding: 3vh;
    text-shadow: #003459 1vh 1vh 1vh;
}

#the_end {
    background: linear-gradient(0deg, black, transparent);
    height: 80px;
}
#waiting{
    animation: rotcons;
    animation-duration: 5s;
    animation-timing-function:linear;
    animation-direction: normal;
    animation-iteration-count: infinite;
    margin-left: 40%;
    margin-top: 2%;
}
#nothing{
    margin-left: 40%;
    font-size: 10vh;
    margin-top: 3.5%;
    color: yellow;
}
@keyframes photani {
    from {
        height: 0;
        border: 0;
    }

    to {
        height: 44vh;
        border: 0.01vh solid rgb(252, 251, 250);
    }
}

@keyframes navani {
    from {
        width: 0;
    }

    to {
        width: 100vh;
    }
}

@keyframes vedant_nameani {
    from {
        font-size: 4vh;
    }

    to {
        font-size: 9vh;
    }
}

@keyframes typeani {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes undani {
    from {
        text-decoration: none;
    }

    to {
        text-decoration: underline;
    }
}
@keyframes rotcons{
    from{
        transform: none;
    }
    to{
        transform: rotateZ(360deg);
    }
}